@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;800&display=swap');

.bg{
  background-image: url("https://i.ibb.co/j35JC9J/4-1-1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: right;
  background-position-y: top;
  font-family: 'Montserrat', sans-serif;
  /* min-height: 70vh; */
}

.title{
  font-size: 50px;
  font-weight: 700;
  letter-spacing: 2.5px;
  text-transform: uppercase;
  color: #2C2C2C;
}
.desc {
  /* color: #737373; */
  color: #666;
}
.hr{
  height: 3px;
  background-color: var(--yellow);
  width: 150px;
  /* position: absolute; */
  text-align: start;
}