@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;800&display=swap');

.wrapper {
  background-image: url("https://i.ibb.co/t4Sdj04/construction-clients-background.jpg");
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  font-family: 'Montserrat', sans-serif;
}
.carousel_container{
  padding: 3rem 0;
}

.carousel_title{
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 2rem;

}

/* .title{
  text-align: center;
  font-weight: 500;
  font-size: 2.5rem;
} */

.hr{
  height: 3px;
  background-color: var(--yellow);
  width: 92px;
}

.confiance{
  margin-top: 2rem;
}
.confiance_title{
  font-size: 1.6rem;
  color: #4781C9;
  text-transform: uppercase;
  font-weight: 600;
  text-align: center;
}

.row{
  height: 220px !important;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 2px solid red */
}