.video {
  /* margin-top: 20vh; */
  object-fit: cover;
  width: 100%;
  height: 72vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

/* https://i.ibb.co/p30ykZT/ezgif-com-gif-maker-2.png
https://i.ibb.co/KLXHXjp/ezgif-com-gif-maker-1.png
https://i.ibb.co/yBZK2C7/ezgif-com-gif-maker.png
https://i.ibb.co/VSNpm7w/service-bg.jpg
https://i.ibb.co/cyxKZYt/section-bg.jpg
https://i.ibb.co/pKdky4M/slider-bg-2.jpg */

.hero_container {
  background-image: url("https://i.ibb.co/pKdky4M/slider-bg-2.jpg")!important;
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 30px;  
}

.container {
  max-width: 1100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero_container h1 {
  color: #fff;
  font-size: 70px;
  text-align: center;
}

.hero_container  p {
  margin-top: 8px;
  color: #fff;
  font-size: 32px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
  'Lucida Sans', Arial, sans-serif;
  text-align: center;
  min-height: 70px;
}
.hero_container  p > * {
  display: inline !important;
}

.hero_btns {
  margin-top: 3rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 40%;
}

.hero_btns .btn {
  margin: 6px;
}

.fa-play-circle {
  margin-left: 4px;
}

@media screen and (max-width: 960px) {
  .hero_container h1 {
    font-size: 55px;
  }
  .hero_container p {
    font-size: 25px;
  }
  .hero_btns {
    width: 70%;
  }
}

@media screen and (max-width: 768px) {
  
  .hero_container h1 {
    font-size: 45px;
    margin-bottom: 45px;
    margin-top: 50px;
  }
  
  .hero_container p {
    font-size: 20px;
    line-height: 1.6;
  }
  
  .btn__mobile {
    display: block;
    text-decoration: none;
  }
  
  .btn {
    width: 100%;
  }
  .hero_btns {
    width: 80%;
    flex-wrap: wrap;
    margin-top: 2rem;
  }
}

