
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;800&display=swap');

.bg {
  font-family: 'Montserrat', sans-serif;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.7) 0%,rgba(255, 255, 255, 0.7) 100%), url("https://i.ibb.co/1vXDNxv/2-1.jpg");

}

.hr{
  height: 3px;
  background-color: var(--yellow);
  width: 92px;
}

.inner_bg {
  border: 3px solid #777;
}