.footer {
	width: 100%;
	/* background-color: #263238; */
	/* background-color: #242424; */
  background-image: url('https://i.ibb.co/dWbmcPs/dark-background-1.jpg');
  background-position: bottom right;
  background-repeat: no-repeat;
  background-size: cover;
	/* min-height: 60vh; */
	height: auto;
}

.footer p {
	font-size: 13px;
	color: #ccc;
	padding-bottom: 0px;
	margin-bottom: 8px;
	text-align: justify;
}

.footer_ul {
	margin: 0px;
	list-style-type:square;
	font-size: 14px;
	padding: 0px 0px 10px 0px;
}
.footer_ul li {
	padding: 0px 0px 5px 0px;
	color: #ccc;

}

.bottom_border {
	/* border-bottom: 1.5px solid #323f45; */
	border-bottom: 1px solid #777;
	padding-bottom: 20px;
}

.footer_nav a {
	color: #999;
	margin: 0 12px;
	/* text-decoration: underline; */
}

.footer_nav a:hover {
	color: #F2F2F2;
}

.contact_inner{
	/* font-size: 16px; */
	font-size: 14px;
}

.social_footer a {
	color: #ccc;
	border: 1px solid #ccc;
	padding: 8px;
	border-radius: 50%;
}
.social_footer a:hover {
	color: #fff;
	border: 1px solid #fff;
}
.social_footer i {
	width: 20px;
	height: 20px;
	text-align: center;
}
.copyright{
	font-size: 20px;
}
.copyright a{
	color: #F4F4F4;
}
.copyright a:hover{
	color: #387CBD;
}
.icon {
  color: #ccc;
}
.icon:hover {
  color: #fff;
}