.wrapper {
	position: relative;
	background-image: url("https://i.ibb.co/L0yk8QS/construction-crane.png");
	background-position: top;
	background-repeat: no-repeat;
	background-size: 510px;
}


.icon {
	color: var(--yellow);
	z-index: 22;
}
.icon:hover {
	color: #bbb;
}

.bg {
	background-color: var(--yellow);
	height: 80px;
	width: 80px;
	z-index: 3;
	margin-top: 1rem;
}
.row:hover .bg{
	background-color: #989898;
	transition: .3s ease;
}

.col1,
.col2,
.row {
	position: relative;
}

.line1,
.line2,
.line4,
.line5 {
	position: absolute;
	height: 70%;
	width: 3px;
	top: 42%;
	transform: translateY(-50%);
	background-color: #ccc;
}


.line3{
	position: absolute;
	height: 25%;
	width: 3px;
	top: 50%;
	left: 13%;
	transform: translateY(-50%);
	background-color: #ccc;
}
.line1 {
	left: 80%;
}
.line2 {
	right: 80%;
}
.line4,
.line5 {
	position: absolute;
	height: 74%;
	width: 2px;
	top: 41%;
	transform: translateY(-50%);
	background-color: #ccc;
	display: none;
}
.line4 {
	left: 32%;
}
.line5 {
	top: 36%;
	height: 64%;
	right: 31.85%;
}

@media screen and (max-width: 1200px) {
	.wrapper {
		background-image: none;
	}
}

@media screen and (max-width: 992px) {
	.line1 {
		left: 13% !important;
	}
}

@media screen and (max-width: 768px) {
	.line2 {
		left: 13% !important;
		height: 75%;
	}
}
@media screen and (min-width: 768px) {
	.line3{
		display: none;
	}
	.service {
		min-height: 310px;
	}
}
@media screen and (min-width: 550px) {

	.service {
		min-height: 150px;
	}
}

@media screen and (min-width: 1201px) {
	.line1,
	.line2 {
		display: none;
	}
	.line4,
	.line5 {
		display: block;
	}
}
