@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;800&display=swap');

.wrapper {
  font-family: 'Montserrat', sans-serif;

}

.section_title {
  color: #2C2C2C;
  font-weight: 500;
  /* letter-spacing: 2px; */
  text-transform: uppercase;
}

.hr{
  height: 3px;
  background-color: var(--yellow);
  width: 150px;
}