@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;800&display=swap');

.box {
  background: #f5f5f5;
}

.box_title {
  font-size: 19px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 30px;
}

.p{
  color: #8D8D8D;
  text-align: center;
  line-height: 25px;
}