@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;800&display=swap');

.box {
  background: #f5f5f5;
}
.box_title {
  font-size: 19px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 30px;
}
.p{
  color: #8D8D8D;
  text-align: center;
  line-height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pp{
  color: #8D8D8D;
  line-height: 25px;
}
.inner_col {
  height: 100%;
  width: 100%;
}
.row {
  width: 100%;
}

@media screen and (max-width: 992px) {
  .col {
    height: 500px;
    /* width: 100%; */
    margin-right: 1rem;
    margin-left: 1rem;
  }
}
@media screen and (min-width: 575px) {
  .p{
    min-height: 54px !important;
  }
}