

.btn {
  padding: 8px 20px;
  border-radius: 4px;
  outline: none;
  border: 0;
  cursor: pointer;
  white-space: nowrap;
  font-size: 1.2rem;
  margin: 10px;
}

.btn__primary {
  background-color: var(--primo);
  color: #242424;
  border: 1.5px solid var(--primo);
}

.btn__outline {
  background-color: transparent;
  color: #fff;
  padding: 8px 20px;
  border: 1.5px solid var(--primo);
  transition: all .3s ease-out;
}

.btn__medium {
  padding: 8px 20px;
  font-size: 18px;
}
.btn__large {
  padding: 12px 26px;
  font-size: 20px;
}
.btn__mobile {
  text-align: center;
  border-radius: 4px;
  width: 80%;
  text-decoration: none;
  font-size: 1.5rem;
  background-color: transparent;
  color: #fff;
  padding: 14px 20px;
  border: 1px solid #fff;
  transition: all .3s ease-out;
}

.btn__wide {
  padding: 12px 64px;
  font-size: 20px;
}
.btn__large:hover,
.btn__medium:hover,
.btn__mobile:hover {
  transition: all .3s ease-out;
  background-color: #fff;
  color: #242424;
}

.btn__outline:hover {
  color: var(--yellow);
  background-color: transparent;
  border-color: var(--yellow);
  box-sizing: border-box;
  border-width: 1.5px;  
}
.btn__primary:hover {
  transition: all .3s ease-out;
  background-color: var(--yellow);
  color: #fff;
  border: 0;
}

.btn__wide:hover {
  color: #fff;
  background-color: var(--danger);
  transition: all .2s ease-out;
}

.blue {
  background-color: #276afb;
  color: #fff;
  border: none;
}
.red {
  background-color: var(--danger);
  color: #fff;
  border: none;
}
.primo {
  background-color: #242424;
  color: #fff;
  border: none;
}
.primo:hover {
  background-color: #fff;
  color: #242424;
  border: none;
}
.green {
  background-color: #25ce4a;
  color: #fff;
  border: none;
}
.green:hover {
  background-color: #242424;
}

.btn__link {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  padding: 8px 16px;
  height: 100%;
  width: 100%;
}




