@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
  --primo: #fff;
  /* --danger: #ffb400; */
  --yellow: #ffb400;
  --danger: #f00946;
}


html,
body {
  padding: 0;
  margin: 0;
  /* font-family: 'PT Sans', sans-serif; */
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
}





