@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
  --primo: #fff;
  --yellow: #ffb400;
  --danger: #f00946;
  --dimmer-yellow: #f3b059;
}
/* --yellow: #EDCD1F; */
/* --danger: #ffb400; */


html,
body {
  padding: 0;
  margin: 0;
  /* font-family: 'PT Sans', sans-serif; */
  /* font-family: 'Roboto', sans-serif; */
  font-family: 'Montserrat', sans-serif;
  position: relative;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
}





